.editor {
  resize: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.editor-dark {
  background-color: #272727;
  color: #fff;
}

.editor-light {
  background-color: #eee;
  color: #000;
}
