.editor {
  resize: none;
  border: none;
  border-right: 1px solid #ddd;
  outline: none;
}

.editor-dark {
  background-color: #272727;
  color: #fff;
}

.editor-light {
  background-color: #eee;
  color: #000;
}
