@import "./components/editor";
@import "./components/preview";
@import "./components/settings";

body {
  overflow: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
}

.fill {
  height: 100%;
  overflow: hidden;
}

.flex-container {
  display: flex;
  height: 100%;
  // i don't know why the hell it does, but this fixes the long text pasting bug
  position: fixed;
  top: 55px;
  width: 100%;
}

.flex-element {
  width: 50%;
  height: 100%;
}

#fileInput {
  display: none;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-element {
    width: 100%;
  }
  .editor {
    border-right: none;
  }
}
